/*========== Google Fonts ==========*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/*========== Variables CSS ==========*/
:root{
    --header-height:3rem;

    /*========== Colors ==========*/
    /*========== Change favorite color ==========*/
    --hue-color:250 ;/* Purple 250 - Green 142 - Blue 230 - Pink 340 */

    /*========== HSL color mode ==========*/
    --first-color: hsl(var(--hue-color), 69%, 61%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%) ;
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #fff;

    /*========== Font and typoggraphy ==========*/
    --body-font: 'Poppins', sans-serif;

    /* .5rem = 8px, 1rem=16px, 1.5rem=24px... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2--font-size: 1.25rem;
    --h3-font_size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== Margenes Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem= 12px ...*/
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 100; 
}

 /* Font size for large devices */
 @media screen and (min-width: 968px){
     
 }
